	<!--	Begin Register Form	-->
	<div id="container">
		<h1 class="text-center">Register Account</h1>
		<h5 class="text-center">Please complete the following form to create an account on our website</h5>
	
		<form id="registerForm">
		  <div class="form-group w-75 ml-1">
			<label for="firstname">First Name</label><br>
			<input type="text" class="form-control" id="firstname">
			<span>&nbsp;</span>
		  </div>

		  <div class="form-group w-75 ml-1">
			<label for="lastname">Last Name</label><br>
			<input type="text" class="form-control" id="lastname">
			<span>&nbsp;</span>
		  </div>

		  <div class="form-group w-75 ml-1">
			<label for="email">Email Address</label><br>
			<input type="email" class="form-control" id="email">&nbsp;&nbsp;&nbsp;
			<span>&nbsp;</span>
		  </div>

		  <div class="form-group w-75 ml-1">
			<label for="phone">Phone Number (optional)</label><br>
			<input type="text" class="form-control" id="phone">&nbsp;&nbsp;&nbsp;
			<span>&nbsp;</span>
		  </div>

		  <div class="form-group w-75 ml-1">
			<label for="password">Password</label><br>
			<input type="password" class="form-control" id="password">&nbsp;&nbsp;&nbsp;
			<span>&nbsp;</span>
		  </div>

		  <div class="form-group w-75 ml-1">
			<label for="confirmpassword">Confirm Password</label><br>
			<input type="password" class="form-control" id="confirmpassword">&nbsp;&nbsp;&nbsp;
			<span>&nbsp;</span>
		  </div>
		  
		  <div class="clr"></div>

		  <div>
		    <button type="submit" class="btn btn-primary"   id="submitButton">Register</button>
		    <button type="reset"  class="btn btn-secondary" id="resetButton"> Clear Form</button>
		  </div>
		</form>
	</div><br><br>
	
	<div id="results" class="text-center"></div>
